.dialog-header {
  padding: 3.5em;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
  background: #f0f0f0;
  padding: 1em 3.5em;
}

.ui-dialog.ui-widget .ui-dialog-content {
  padding: 2.5em 1.5em;
}

.ui-dialog-content.ui-widget-content {
  overflow: visible;
  height: 8em;
}

.ui-dialog-footer {
  margin-top: 1.67em;
  height: 5.5em;
  width: 100%;
  background: #f0f0f0;
}

.ui-corner-all {
  border-radius: 1.5px;
}

.ui-button.ui-button-secondary.ui-state-default, .ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
  border: 2px solid #18abf4;
  margin-right: 0.5em;
  height: 2.3em;
  width: 7em;
  font-family: SourceSansPro;
  font-size: 14px;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
  border: 2px solid #18abf4;
  margin-right: 6em;
  height: 2.3em;
  width: 7em;
  background: #52c0f7;
  font-family: SourceSansPro;
  font-size: 14px;
}

.ui-widget-header .ui-inputtext, .ui-widget-content .ui-inputtext {
  height: 2.5em;
  margin-top: 0.5em;
  border: 2px solid #d8d8d8;
  font-size: 14px;
  font-weight: bold;
}

.ui-autocomplete .ui-autocomplete-panel {
  border: 2px solid #18abf4;
  height: 15em;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
  border-bottom: 1px solid #d8d8d8;
  height: 37px;
  overflow-y: scroll;
}

.ui-autocomplete-panel .ui-autocomplete-list-item:hover {
  background: #d8d8d8;
  color: black;
}

h1 {
  font-family: SourceSansPro;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

p-header > p {
  font-size: 0.7em;
  font-family: SourceSansPro;
}