<grid-header [headers]="sampleHeaders"></grid-header>
<div *ngIf="flightRows">
    <data-row *ngFor="let row of flightRows" [row]="row" (register)="register($event)">
    </data-row>
</div>
<p-dialog [(visible)]="display" modal="modal" width="300" [responsive]="true">
    <p-header>
        <h1>Registration {{selectedFlight.flightNumber}}</h1>
        <p>{{selectedFlight.scheduledDate | date:"dd/MM/yy"}} - {{selectedFlight.scheduledDate | date:"hh:mm"}}</p>
    </p-header>
    <form>
        <p-autoComplete [style.display]="none" name="registration" [(ngModel)]="flightRegistration" [suggestions]="suggestionsList" (completeMethod)="filterRegistration($event, registrationRows)"
            [size]="30" [minLength]="2"></p-autoComplete>
        <!-- <input placeholder="Registration" [(ngModel)]="flightRegistration" type="text" name="registration"> -->
    </form>
    <p-footer>
        <button type="button" pButton (click)="closeDialog();$event.stopImmediatePropagation();" label="Cancel"></button>
        <button type="button" pButton (click)="saveRegistration();$event.stopImmediatePropagation();" label="Save"></button>
    </p-footer>
</p-dialog>
